# SPDX-FileCopyrightText: 2026 SecPal Contributors
# SPDX-License-Identifier: CC0-1.0

.git
.github
.context
.env*
.*
polyscope*.json
*.log
*.key
*.sqlite*
**/*.key
**/*.sqlite*
**/secrets
auth.json
build
coverage*
node_modules
vendor
public/build
public/hot
public/storage
storage/app
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
storage/testing
tests
docs
README*
CHANGELOG.md
CONTRIBUTING.md
DEVELOPMENT.md
SECURITY.md
phpunit.xml
phpstan.neon
pint.json
